.cart-wrap {
  .cart-footer {
    padding: 0 31px 0 57px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 88px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #EDEDED;
    .weui-cells_checkbox {
      font-size: 28px;
    }
    .at-button {
      width: 144px;
      height: 69px;
      position: absolute;
      right: 31px;
    }
  }
  .list {
    padding: 36px 31px 0;
    .list-item {
      background-color: #fff;
      border-radius: 35px;
      margin-bottom: 18px;
      padding: 22px;
      .list-item-top {
        display: flex;
        justify-content: space-between;
        .list-item-top-data {
          font-size: 26px;
          color: #D6D2CA;
          .taro-text {
            color: #707070;
          }
        }
      }
      .list-item-content {
        display: flex;
        align-items: center;
        padding-top: 20px;
        .item-img {
          width: 188px;
          height: 188px;
          border-radius: 35px;
          margin-left: 32px;
        }
        .list-item-content-text {
          margin-left: 27px;
          display: flex;
          flex-direction: column;
          .list-item-content-text-title {
            .title-h {
              font-size: 31px;
              color: #1D1C1A;
            }
          }
          .price {
            font-size: 43px;
            color: #FEC748;
            .unit {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}