.cart-wrap {
  .cart-footer {
    padding: 0 31px 0 57px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 88px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #EDEDED;
    .weui-cells_checkbox {
      font-size: 28px;
    }
    .at-button {
      width: 144px;
      height: 69px;
      position: absolute;
      right: 31px;
    }
  }

}